.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Georgia";
    -fx-base: #96BEB2;
    -fx-background-color: #dfdddd;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-smoothing-type: lcd;
}

.text-area{
    -fx-background-color: transparent;
    -fx-base: transparent;
}

.root label {
    -fx-font-family: "Georgia";
}

.header{
    -fx-border-color: #31594b;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #96BEB2;
}

.headerTitle{
    -fx-font-family: "Georgia";

}

#cocktail-name {
    -fx-font-size: 12pt;
    -fx-font-family: "Georgia";
}

#ingredient-button{
    -fx-max-height: 20px;

}

#ingredient-name {
    -fx-font-size: 12pt;
    -fx-font-family: "Georgia";
}
#cocktail-pane {
    -fx-border-color: #ededed;
    -fx-border-width: 1 1 0 1;

    -fx-alignment: center;
    -fx-text-alignment: center;
}
